.cart {
  position: relative;
  width: 330px;
  background-color: #91ad91;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.cart .add-button.ant-btn {
  background-color: #5cce23;
  border-color: #2a5714;
  color: white;
}

.cart .add-button.ant-btn:hover {
  background-color: #006400;
  border-color: #004d00;
  color: white;
}
