.card {
  width: 300px;
  height: 150px;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  background-color: rgb(162, 233, 191);
}

.card.admin {
  background-color: #e95151;
}

.card.developer {
  background-color: #68db68;
}

.card.qa {
  background-color: #68db68;
}

.card.devops {
  background-color: #d2ec3f;
}


.ok-button,
.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
}


.ok-button {
  bottom: 5px;
  left: 5px;
}

.cancel-button {
  bottom: 5px;
  right: 5px;
}


.ok-icon,
.cancel-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
  display: block;
}

.card .inputString,
.card .blockSelect {
  width: 100%;
  margin-bottom: 15px;
  box-sizing: border-box;
}
